# Output styles
public/styles.css

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.local
.env.production.local
.env.development
.env.development.local
.env.test
.env.test.local

# dist
dist/
