@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul li {
    @apply mb-0 list-none;
  }

  .container {
    @apply px-4;
  }

  a,
  a:hover,
  a:active,
  a:focus {
    --color: white;
  }

  a:focus {
    --background-color: transparent;
  }
}

@layer components {
  .loader-indicator {
    @apply hidden;
  }

  .htmx-request .loader-indicator,
  .htmx-request.loader-indicator {
    @apply inline-block;
  }

  #notification-portal .success,
  #notification-portal .error {
    @apply rounded-lg px-4 py-2 text-sm text-white;
  }
  #notification-portal .success {
    @apply bg-green-600;
  }

  #notification-portal .error {
    @apply bg-red-600;
  }
}
